$screen-xs-max: 340px;
$screen-sm-max: 600px;
$screen-md-max: 815px;
$screen-lg-max: 992px;
$screen-xl-max: 1200px;
$containerWidth: 1280px;
$primaryColor: #20ADE5;
$secondaryColor: #FF4D95;
$white: #FFFFFF;
$DotGothic16: 'DotGothic16', sans-serif;
$duration: 300ms;